@import "tailwindcss";

html {
  background: #070b17;
}

body {
  margin: 0;
  min-width: 320px;
  background: #070b17;
}

button,
input,
textarea,
select {
  font: inherit;
}

* {
  box-sizing: border-box;
}
